<ion-content>
    <div class="padding">

        <div class="logo">
            <!-- <ion-icon color="light" name="sunny"></ion-icon> -->
            <!-- <ion-icon color="light" name="contact"></ion-icon> -->
            <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
            <img src="../../assets/logo.png">
        </div>
        <form #loginForm=ngForm>
            <ion-item>
                <ion-label color="light">Email</ion-label>
                <ion-input color="light" name="email" required [(ngModel)]="form.email" type="email" placeholder="Email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="light">Password</ion-label>
                <ion-input required name="password" type="password" [(ngModel)]="form.password" color="light" type="password" placeholder="Enter your password"></ion-input>
            </ion-item>
        </form>

        <ion-item lines="none">
            <ion-button color="light" slot="end" fill="clear">forget password?</ion-button>
        </ion-item>

        <ion-button color="light" [disabled]="!loginForm.valid" expand="block" shape="round" (click)="login()" fill="outline">Login</ion-button>
        <br>
        <ion-button color="facebook" expand="block" (click)="goToRegister()" shape="round">New User ?</ion-button>

        <ion-item lines="none" class="or">
            <ion-label color="light" text-center>Or Login with</ion-label>
        </ion-item>

        <div class="flex">
            <ion-button (click)="loginWithFb()" color="facebook" shape="round">
                <ion-icon slot="start" name="logo-facebook"></ion-icon>
                Facebook
            </ion-button>
            <ion-button color="google" color="youtube" shape="round">
                <ion-icon slot="start" name="logo-google"></ion-icon>
                Google
            </ion-button>
        </div>
    </div>
</ion-content>