<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            vikash_kumar
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content>
    <br>
    <ion-item lines="none">
        <ion-label>
            <h1><b>Vikash kumar</b></h1>
        </ion-label>
        <ion-avatar>
            <img src="../../assets/13.jpg">
        </ion-avatar>
    </ion-item>

    <div class="info_box">
        <div class="date_box">
            <b>245</b>
            <p>posts</p>
        </div>
        <div class="date_box">
            <b>7850</b>
            <p>followers</p>
        </div>
        <div class="date_box">
            <b>715</b>
            <p>following</p>
        </div>
        <div class="date_box">
            <b>715</b>
            <p>Points</p>
        </div>
    </div>
    <ion-button class="text_button" shape="round" size="small">Edit profile</ion-button>
    <ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
        <ion-icon color="dark" slot="icon-only" name="contact"></ion-icon>
        <ion-icon color="dark" slot="icon-only" name="checkmark"></ion-icon>
    </ion-button>
    <ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
        <ion-icon color="dark" slot="icon-only" name="arrow-dropdown"></ion-icon>
    </ion-button>

    <ion-item lines="none">
        <ion-label>
            <h3><b>Alise Smith</b>
                <ion-icon color="primary" name="checkmark-circle"></ion-icon>
            </h3>
            <p>Fashion-designer, London UK</p>
        </ion-label>
    </ion-item>
    <ion-segment color="medium">
        <ion-segment-button>
            <ion-icon name="keypad"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
            <ion-icon name="heart-outline"></ion-icon>
        </ion-segment-button>
    </ion-segment>
    <div class="grid">
        <div class="img_box" style="background-image: url('../../assets/post_1.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_2.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_3.png');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_4.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_5.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_6.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_7.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_8.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_9.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_10.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_11.jpeg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_12.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_13.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_14.jpg');"></div>
        <div class="img_box" style="background-image: url('../../assets/post_15.jpg');"></div>
    </div>
</ion-content>