<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark">
                <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="../../assets/instagram-new-logo.png">
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark">
                <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="text_stories">
        <p>Stories</p>
        <p>Voir tout</p>
    </div>

    <div class="stories">
        <div class="story">
            <div class="add_story">
                <img src="../../assets/1.jpg">
                <ion-icon color="primary" name="add-circle"></ion-icon>
            </div>
            <p style="color: #86888f;">libra.laura</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/9.jpg">
            </div>
            <p>susan_mda</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/3.jpg">
            </div>
            <p>smith.allan</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/4.jpg">
            </div>
            <p>riba.lem</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/5.jpg">
            </div>
            <p>kaleb_12</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/6.jpg">
            </div>
            <p>isma.ab</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/7.jpeg">
            </div>
            <p>susan.bb</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/8.jpeg">
            </div>
            <p>lisa_franck</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/2.jpg">
            </div>
            <p>multitudine</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/10.jpg">
            </div>
            <p>habitaculis</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/11.jpeg">
            </div>
            <p>firmas</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/12.jpg">
            </div>
            <p>arbitrium</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/13.jpg">
            </div>
            <p>inposita</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/14.png">
            </div>
            <p>appellentur</p>
        </div>
        <div class="story">
            <div class="img-box">
                <img src="../../assets/15.jpg">
            </div>
            <p>conditoris</p>
        </div>
    </div>

    <hr>

    <ion-item no-padding lines="none">
        <ion-avatar slot="start">
            <img src="../../assets/8.jpeg">
        </ion-avatar>
        <ion-label>lisa_franck</ion-label>
        <ion-icon slot="end" name="more"></ion-icon>
    </ion-item>
    <img class="post_img" src="../../assets/post_1.jpg">
    <div class="flex-button">
        <div>
            <ion-icon name="heart"></ion-icon>
            <ion-icon name="text"></ion-icon>
            <ion-icon name="send"></ion-icon>
        </div>
        <ion-icon name="bookmark"></ion-icon>
    </div>
    <p class="insta-text"><b>2.875 Likes</b></p>
    <p class="insta-text"><b>lisa_franck</b> Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet </p>
    <br>


    <ion-item no-padding lines="none">
        <ion-avatar slot="start">
            <img src="../../assets/7.jpeg">
        </ion-avatar>
        <ion-label>susan_mda</ion-label>
        <ion-icon slot="end" name="more"></ion-icon>
    </ion-item>
    <img class="post_img" src="../../assets/post_2.jpg">
    <div class="flex-button">
        <div>
            <ion-icon name="heart"></ion-icon>
            <ion-icon name="text"></ion-icon>
            <ion-icon name="send"></ion-icon>
        </div>
        <ion-icon name="bookmark"></ion-icon>
    </div>
    <p class="insta-text"><b>428 Likes</b></p>
    <p class="insta-text"><b>susan_mda</b> e licet Graecis nominibus appellentur, quae isdem ad arbitrium inposita sunt conditor</p>
    <br>

    <ion-item no-padding lines="none">
        <ion-avatar slot="start">
            <img src="../../assets/1.jpg">
        </ion-avatar>
        <ion-label>libra.laura</ion-label>
        <ion-icon slot="end" name="more"></ion-icon>
    </ion-item>
    <img class="post_img" src="../../assets/post_4.jpg">
    <div class="flex-button">
        <div>
            <ion-icon name="heart"></ion-icon>
            <ion-icon name="text"></ion-icon>
            <ion-icon name="send"></ion-icon>
        </div>
        <ion-icon name="bookmark"></ion-icon>
    </div>
    <p class="insta-text"><b>2.875 Likes</b></p>
    <p class="insta-text"><b>libra.laura</b> Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet </p>
    <br>



    <ion-item no-padding lines="none">
        <ion-avatar slot="start">
            <img src="../../assets/4.jpg">
        </ion-avatar>
        <ion-label>riba.lem</ion-label>
        <ion-icon slot="end" name="more"></ion-icon>
    </ion-item>
    <img class="post_img" src="../../assets/post_3.png">
    <div class="flex-button">
        <div>
            <ion-icon name="heart"></ion-icon>
            <ion-icon name="text"></ion-icon>
            <ion-icon name="send"></ion-icon>
        </div>
        <ion-icon name="bookmark"></ion-icon>
    </div>
    <p class="insta-text"><b>2.875 Likes</b></p>
    <p class="insta-text"><b>riba.lem</b> Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet </p>
    <br>

</ion-content>